@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-manrope;
  }
}

::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.navLink {
  @apply text-black
}

.activeNavLink {
  @apply font-bold
}

.navLink {
  font-family: "Barlow", sans-serif;
}

.text86 {
  @apply text-[72px]/[110%] md:text-[86px]/[110%] tracking-tight
}

.text50 {
  @apply text-[36px]/[110%] md:text-[50px]/[110%] tracking-tighter
}

.text32 {
  @apply text-[28px]/[120%] md:text-[32px]/[120%] tracking-tight
}

.text28 {
  @apply text-[24px]/[120%] md:text-[28px]/[120%] tracking-tight
}

.text24 {
  @apply text-[20px]/[120%] md:text-[24px]/[120%] tracking-tight
}

.textLink {
  @apply text-[18px]/[120%] md:text-[20px]/[120%] tracking-tight font-bold
}

#hero {
  box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  background:
    url('./assets/mainHero.png') center center / cover;
  z-index: -1;
  background-attachment: fixed;
}

#mainStats {
  box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

#mainStats::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/brian-mcgowan-I0fDR8xtApA-unsplash.jpg') center center / cover;
  filter: brightness(25%);
  z-index: -1;
  border-radius: 25px;
}

#mainProject {
  position: relative;
  z-index: 1;
}

#mainProject::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/mainProject.png') center center / cover;
  filter: brightness(75%);
  z-index: -1;
  background-attachment: fixed;
}

#researchHero {
  position: relative;
  z-index: 1;
}

#researchHero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/researchHero.png') center center / cover;
  filter: brightness(35%);
  z-index: -1;
  background-attachment: fixed;
}